.app{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cv{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
    /* border: 1px solid black; */
}
